<h1>Random Calculation</h1>

<form action="/random/results">
    <label for="start">Minimum</label>
    <input id="start"  type="text" name="start">
    <label for="end">Maximum</label>
    <input id="end"  type="text" name="end">
    <button>Pick random number</button>
</form>
